.searchBtn {
  width: 40Px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.searchBtnIcon {
  width: 100%;
  height: 100%;
}

.topSearchBar {
 width : 500px;
 height : 30px;	
}

.searchContainer{
	background-color:grey;
}