/* recruitBoardWrite.css */

.write-board-container {
  display: flex;
  width: 100%;
  height: 100vh;
  margin-bottom : 150px;
}


.side-filter {
  width: 300px; /* 고정된 너비 설정 */
  padding: 10px;
  box-sizing: border-box;
  height: 100%; 
  overflow-y: auto; 
}

.board-write-container {
  width: calc(100% - 320px);
  padding: 10px;
  box-sizing: border-box;
  margin-bottom : 20px;
}
