/* recruitBoard.css */

.recruit-board-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

/* Side filter style */
.side-filter {
  width: 300px; /* 고정된 너비 설정 */
  padding: 10px;
  box-sizing: border-box;
  height: 100%; /* Full height to ensure it takes the entire viewport height */
  overflow-y: auto; /* Enable scrolling if content overflows */

}

.recruit-board-item {
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.recruit-board-item h2 {
  margin-bottom: 5px;
}

.recruit-board-item p {
  margin: 5px 0;
}

.link-content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align items to the end for better alignment */
  width: calc(100% - 320px); /* 전체 너비에서 사이드 필터의 너비를 뺀 값으로 설정 */
  padding: 20px; /* Add some padding for better spacing */
}

.link-container {
  display: flex;
  justify-content: flex-end; /* Align links to the end (right) */
  gap: 20px; /* Add some space between the links */
  margin-bottom: 20px; /* Add some space below the links */
  width: 100%; /* Ensure the container takes the full width */
}

.go-to-write,
.go-to-review {
  display: inline-block;
  text-decoration: none;
  padding: 15px 25px; /* Adjust padding for better appearance */
  background-color: #007bff;
  color: #fff;
  border-radius: 30px;
  width: auto;
  transition: background-color 0.3s;
  text-align: center;
}

.go-to-write:hover,
.go-to-review:hover {
  background-color: #0056b3;
}

.recruit-board-content {
  flex-grow: 1;
}
